/* GLOBAL RESETS */
* {box-sizing: border-box;}

// VARIABLES
$color-black: rgba(75, 75, 77, 1);
$color-blue: rgba(100, 118, 136, 1);
$color-brown: rgba(186, 150, 110, 1);
$color-cream: rgba(224, 216, 199, 1);
$color-yellow: rgba(228, 163, 78, 1);
$color-orange: rgba(203, 86, 44, 1);
$color-dark-green: rgba(57, 67, 50, 1);
$color-green: rgba(77, 88, 72, 1);

$color-link: rgba(186, 150, 110, 1);
$color-link-darker: rgba(57, 67, 50, 1);

$font-family-main-sans: 'itc-avant-garde-gothic-pro', Helvetica, Arial, sans-serif;
$font-family-sans-serif: 'cambay', Georgia, 'Times New Roman', Times, sans-serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography"; 
@import "partials/helpers";
@import "partials/buttons";
@import "partials/media";  
@import "partials/layout";   
@import "partials/grid"; 
@import "partials/structure"; 
@import "partials/sitenav";   
@import "partials/animations";  


